/* 
  * : 아스테리스크
  - : 하이픈
  _ : 언더스코어
  __: 던더
  & : 앤퍼센드

*/


/* *{
  margin: 0;
  padding: 0;
} */

div{
  width: 200px;
  height: 200px;
}


.box01{
  /* width: 100vw; */
  text-align: center;
  background-color: red;
  /* margin-top: 10px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-bottom: 10px; */

  /* 컨텐츠가 1층에 있을 때 */
  /* margin: 0 auto;  */
  
  /* margin: 0 30px;  */
  /* margin-inline:30px; */
  /* margin-inline-start:30px; */
  /* margin-inline-end:30px; */

  /* margin-block: 30px; */
  /* margin-block-start: 30px; */
  /* margin-block-end: 30px; */
  
}

.box02{
  background-color: dodgerblue;
  padding: 10px 20px 30px 40px;
}

.box03{
  background-color: orange;
  border: 10px solid red;
  /* border-radius: 10px 20px 30px 40px; */
  /* border-radius: 50%; */
  border-top-right-radius: 30px;
  /* margin-left: 30px; */
  padding-left: 30px;
}

.box04{
  /* width: 190px; */
  /* height: 190px; */
  box-sizing: border-box;
  background-color: greenyellow;
  border: 5px solid black;
}







































