body{
  height: 5000px;
  position: relative;
  /* overflow: hidden; */
}



.box01{
  width: 200px;
  height: 200px;
  background-color: red;
  /* margin-top: 100px; */
  position: relative; 
  margin: 0 auto;
  /* left: 800px; */
  /* top: 100px; */
}

.box02{
  width: 200px;
  height: 200px;
  background-color: dodgerblue;
}


.container{
  width: 600px;
  height: 600px;
  background-color: hotpink;
  position: relative;

  
}

.container > div{
  width: 200px;
  height: 200px;
}

.container > div:nth-child(2){

}

.container .list01{
  background-color: green;
  position: sticky;
  /* x축 1개  */
  /* y축 1개  */
  left: 0;
  top: 0;
  /* right: 0; */
  /* bottom: 0; */
  z-index: 10;
}


.container .list02{
  background-color: orange;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.container .list03{
  background-color: rgb(48, 152, 84);
  position: absolute;
  left: 0;
  bottom: 0;
}

.container .list04{
  background-color: rgb(75, 20, 153);
  position: absolute;
  right: 0;
  bottom: 0;
}


.container .list05{
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform:translateX(-50%) translateY(-50%); */
  /* transform:translate(-50%, -50%); */
  translate:-50% -50%;
  
  /* margin-left: -100px; */
  /* margin-top: -100px; */
  /* left: 200px; */
  /* top: 200px; */
}




.box03{
  width: 400px;
  height: 200px;
  
  /* height: 100vh; */
  background-color: #b38813;
  position: fixed;
  left: 50%;
  top: 50%;
  translate:-50% -50%;
  /* transition: all 1s; */
  /* transform:translateX(100%) */
  z-index: 9999;
}















