

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container{
  width: 600px;
  height: 600px;
  padding: 10px;
  /* padding: 0; */
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: 1px solid gray;
  border-radius: 30px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  /* position: absolute;
  left: 50%;
  top: 50%;
  translate:-50% -50%; */

  > li{
    width: 250px;
    height: 250px;
    background-color: dodgerblue;
    border-radius: 30px;
    font-size: 20px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* margin: 10px; */
  }
}



















